.env
etc-pihole/gravity.db
etc-pihole/gravity_backups/
etc-pihole/gravity_old.db
etc-pihole/listsCache/
etc-pihole/config_backups/
etc-pihole/dhcp.leases
etc-pihole/cli_pw
etc-pihole/tls.crt
etc-pihole/tls.pem
etc-pihole/tls_ca.crt
etc-pihole/versions
